<a href="product-dinhgiabanxe.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FJYG2dyhqyDLVtPvyjs4RKcFrCYBBDKRtKW9YsQ1zbKo%2Fpreset%3Araw%2Fplain%2F8dc626d6634d9e569f740bb88e13cae0-2741458918278247285.jpg&w=256&q=95"
  />
  <p class="fs-14 text-black">Chương trình/ Ưu đãi</p>
</a>
<a href="login.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FMIFwjtSVIc0EcQHClZ57Zo6eacApgrLJkYWpsvv4VX0%2Fpreset%3Araw%2Fplain%2F2e015f43af496d507d83fcd11f27b604-2763922163438690395.jpg&w=256&q=95"
  />
  <p class="fs-14 text-black">Ví bán hàng</p>
</a>
<a href="login.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FBJ2sRQGytbTbBoxCqR3juzBaObXNvsJz9Q9KC8O73gQ%2Fpreset%3Araw%2Fplain%2F930641d458c0e05889f865e35a0edefb-2763757223248164734.jpg&w=256&q=95"
  />
  <p class="fs-14 text-black">Đăng tin cho tặng</p>
</a>
<a href="product-dinhgiabanxe.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2Fhadg4Gt-jHd-C-UPrd4u8HQO9AGEuh8MJ4w_f-d135U%2Fpreset%3Araw%2Fplain%2F2e8e3059413923e58db92c9ed6f650b9-2703896927645658245.jpg&w=256&q=95"
  />
  <p class="fs-14 text-black">Định Giá Bán Xe</p>
</a>
<a href="product-dinhgiabanxe.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FvmzgXwahsyAR3yqOFOxlC4I54sBtGC8KeSqPhnVqo3M%2Fpreset%3Araw%2Fplain%2Fea30aa00d4c36d21a6d56fe745397327-2741458954087890671.jpg&w=256&q=95"
  />
  <p class="fs-14 text-black">Nạp Đồng Tốt</p>
</a>
<a href="login.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FTIuAGrBq3aKlyK_5A6rZF6W9TpYYcYrkCMX8qao5jYY%2Fpreset%3Araw%2Fplain%2F508bf25ad611db4034fa5dfde0fe8a73-2741458967710030990.jpg&w=256&q=95"
  />
  <p class="fs-14 text-black">Chợ Tốt Ưu đãi</p>
</a>
<a href="login.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FPeH_Zz-8hDT7yZ8F2Mm-BI4p7HWGasDhgq8I_7xdXyk%2Fpreset%3Araw%2Fplain%2Fe16cec7ca2ff9d7649268427ea9c1e4e-2741458979427623023.jpg&w=256&q=95"
  />
  <p class="fs-14 text-black">Tin đăng đã lưu</p>
</a>
<a href="index.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FEXq1SfIXIGbES29vheTRE9mMe-FQo8g-6x04PDqOtGo%2Fpreset%3Araw%2Fplain%2F21c12d192ad3c976e750215ab6bef36a-2750566621721983030.jpg&w=256&q=95"
  />
  <p class="fs-14 text-black">Vòng quay may mắn</p>
</a>
<a href="login.html" class="text-center mgx-10 opacity-05">
  <img
    class="w-32 h-32"
    src="https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FSDwFNRG5QRbMeZWWAa4zI7AL6eJdnzO8P6H_1DxTi4I%2Fpreset%3Araw%2Fplain%2Fc7ae341fb3dad555452cb23a8b903275-2741458990797599981.jpg&w=256&q=95"
  />
  <p class="fs-114 text-black">Tìm kiếm đã lưu</p>
</a>
