<div class="flex bg-color-white border-bottom-2">
  <div class="row pd-10 content-between col-6 dt-col-12">
    <div class="col-12 dt-col-3">
      <img
        src="assets/img/chotot/oto-2.jpg"
        alt=""
        class="wp-100 hp-100 opacity-05 cursor-pointer"
      />
    </div>
    <div class="col-12 dt-col-9 mgx-10">
      <b>Bán xe mazda sx 2018 sử dung 29000km 1 đời chủ</b>
      <p class="fs-12 text-gray-2">2018 - Tự động - 29000 km</p>
      <b class="fs-14 text-red-1">428.000.000 đ</b>
      <div class="flex align-items-center">
        <p class="fs-16 text-blue-1 mx-right-20">Hồ Tấn Phát</p>
        <img src="assets/img/icon-heart.svg" alt="" class="w-18 h-18" />
      </div>
    </div>
  </div>
</div>
