<a href="product.html">
  <img src="assets/img/chotot/iphone11.jpg" alt="product" class="p-10" />

  <div class="p-5">
    <a href="" class="flex content-between">
      <h3 class="fs-12 text-black align-items-center">
        iPhone 11 xanh mint 64Gb qt chuẩn bao
      </h3>
      <img
        src="assets/img/icon-dots-y.svg"
        alt="icon-dots-y"
        class="icon-size-20 my-10"
      />
    </a>
    <b class="fs-16 text-red-2">7.590.000 đ</b>
    <div class="row content-between row-align-center">
      <div class="content-between my-10">
        <img
          src="assets/img/icon-heart.svg"
          class="icon-size-10"
          alt="icon heart"
        />

        <span class="fs-12">43 giây trước</span>
        <span class="fs-12">Hồ Chí Minh</span>
      </div>
    </div>
  </div>
</a>
