<div class="row flex-wrap content-between">
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img
        class="w-48 h-48 opacity-gray"
        src="assets/img/chotot/laodongphothong.png"
      />
    </a>
    <p><a href="" class="fs-14 text-black">Lao động phổ thông</a></p>
  </div>
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/banhang.png" />
    </a>
    <p><a href="login.html" class="fs-14 text-black">Bán hàng </a></p>
  </div>
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/taixe.png" />
    </a>
    <p><a href="login.html" class="fs-14 text-black">Tài xế/ Giao nhận</a></p>
  </div>
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img
        class="w-48 h-48 opacity-gray"
        src="assets/img/chotot/giupviec.png"
      />
    </a>
    <p><a href="login.html" class="fs-14 text-black">Giúp việc/ Tạp vụ </a></p>
  </div>
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img
        class="w-48 h-48 opacity-gray"
        src="assets/img/chotot/kinhdoanh.png"
      />
    </a>
    <p><a href="login.html" class="fs-14 text-black">NV kinh doanh</a></p>
  </div>
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img
        class="w-48 h-48 opacity-gray"
        src="assets/img/chotot/laodongphothong.png"
      />
    </a>
    <p><a href="login.html " class="fs-14 text-black">lao động phổ thông</a></p>
  </div>
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/banhang.png" />
    </a>
    <p class="fs-14 text-black">Bán hàng</p>
  </div>
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/taixe.png" />
    </a>
    <p><a href="login.html" class="fs-14 text-black">Tài xế/ Giao nhận</a></p>
  </div>
  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img
        class="w-48 h-48 opacity-gray"
        src="assets/img/chotot/giupviec.png"
      />
    </a>
    <p><a href="login.html" class="fs-14 text-black">Giúp việc/ Tạp vụ</a></p>
  </div>

  <div class="col-4 dt-col text-center opacity-05">
    <a href="login.html">
      <img
        class="w-48 h-48 opacity-gray"
        src="assets/img/chotot/kinhdoanh.png"
      />
    </a>
    <p><a href="login.html" class="fs-14 text-black">NV kinh doanh</a></p>
  </div>
</div>
