<div class="row flex-wrap mgx-10 mgt-20">
  <div class="col-4 dt-col text-center opacity-05">
    <a href="">
      <img
        class="w-48 h-48 opacity-gray"
        src="assets/img/chotot/laodongphothong.png"
      />
    </a>
    <p class="fs-14 text-black"><a href="">Lao động phổ thông</a></p>
  </div>

  <a href="" class="text-center mgx-10">
    <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/banhang.png" />
    <p class="fs-14 text-black">Bán hàng</p>
  </a>
  <a href="" class="text-center mgx-10">
    <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/taixe.png" />
    <p class="fs-14 text-black">Tài xế/ Giao nhận</p>
  </a>
  <a href="" class="text-center mgx-10">
    <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/giupviec.png" />
    <p class="fs-14 text-black">Giúp việc/ Tạp vụ</p>
  </a>
  <a href="" class="text-center mgx-10">
    <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/kinhdoanh.png" />
    <p class="fs-14 text-black">NV kinh doanh</p>
  </a>
  <a href="" class="text-center mgx-10">
    <img
      class="w-48 h-48 opacity-gray"
      src="assets/img/chotot/laodongphothong.png"
    />
    <p class="fs-14 text-black">lao động phổ thông</p>
  </a>
  <a href="" class="text-center mgx-10">
    <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/banhang.png" />
    <p class="fs-14 text-black">Bán hàng</p>
  </a>
  <a href="" class="text-center mgx-10">
    <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/taixe.png" />
    <p class="fs-14 text-black">Tài xế/ Giao nhận</p>
  </a>
  <a href="" class="text-center mgx-10">
    <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/giupviec.png" />
    <p class="fs-14 text-black">Giúp việc/ Tạp vụ</p>
  </a>
  <a href="" class="text-center mgx-10">
    <img class="w-48 h-48 opacity-gray" src="assets/img/chotot/kinhdoanh.png" />
    <p class="fs-14 text-black">NV kinh doanh</p>
  </a>
</div>
