<div class="row flex-wrap content-between">
  <div
    class="bg-color-white col-5 dt-col-3 border-1 br-8 opacity-gray cursor-pointer mgy-10"
  >
    <div class="flex align-items-center">
      <img src="assets/img/chotot/doitac.svg" alt="" class="w-50 h-50" />
      <p class="mgx-10">Tuyển Nhân Viên Phụ Bếp</p>
    </div>
    <div class="flex">
      <img
        src="assets/img/chotot/bothealthy.jpg"
        alt=""
        class="w-80 h-80 mgx-10"
      />

      <div class="">
        <p class="fs-12">Tuyển Nhân Viên Kế...</p>
        <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
        <div class="flex content-between align-items-center">
          <p>
            <img src="assets/img/icon-position.svg" alt="" class="w-12 h-12" />
            <b class="fs-12">Tp Hồ chí minh</b>
            <img src="assets/img/icon-heart.svg" alt="" class="w-12 h-12" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-color-white col-5 dt-col-3 border-1 br-8 opacity-gray cursor-pointer mgy-10"
  >
    <div class="flex align-items-center">
      <img src="assets/img/chotot/doitac.svg" alt="" class="w-50 h-50" />
      <p class="mgx-10">Tuyển Nhân Viên Phụ Bếp</p>
    </div>
    <div class="flex">
      <img
        src="assets/img/chotot/bothealthy.jpg"
        alt=""
        class="w-80 h-80 mgx-10"
      />

      <div class="">
        <p class="fs-12">Tuyển Nhân Viên Kế...</p>
        <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
        <div class="flex content-between align-items-center">
          <p>
            <img src="assets/img/icon-position.svg" alt="" class="w-12 h-12" />
            <b class="fs-12">Tp Hồ chí minh</b>
            <img src="assets/img/icon-heart.svg" alt="" class="w-12 h-12" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-color-white col-5 dt-col-3 border-1 br-8 opacity-gray cursor-pointer mgy-10"
  >
    <div class="flex align-items-center">
      <img src="assets/img/chotot/doitac.svg" alt="" class="w-50 h-50" />
      <p class="mgx-10">Tuyển Nhân Viên Phụ Bếp</p>
    </div>
    <div class="flex">
      <img
        src="assets/img/chotot/bothealthy.jpg"
        alt=""
        class="w-80 h-80 mgx-10"
      />

      <div class="">
        <p class="fs-12">Tuyển Nhân Viên Kế...</p>
        <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
        <div class="flex content-between align-items-center">
          <p>
            <img src="assets/img/icon-position.svg" alt="" class="w-12 h-12" />
            <b class="fs-12">Tp Hồ chí minh</b>
            <img src="assets/img/icon-heart.svg" alt="" class="w-12 h-12" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-color-white border-1 col-5 dt-col-3 br-8 opacity-gray cursor-pointer mgy-10"
  >
    <div class="flex align-items-center">
      <img src="assets/img/chotot/doitac.svg" alt="" class="w-50 h-50" />
      <p class="mgx-10">Tuyển Nhân Viên Phụ Bếp</p>
    </div>
    <div class="flex">
      <img
        src="assets/img/chotot/bothealthy.jpg"
        alt=""
        class="w-80 h-80 mgx-10"
      />

      <div class="">
        <p class="fs-12">Tuyển Nhân Viên Kế...</p>
        <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
        <div class="flex content-between align-items-center">
          <p>
            <img src="assets/img/icon-position.svg" alt="" class="w-12 h-12" />
            <b class="fs-12">Tp Hồ chí minh</b>
            <img src="assets/img/icon-heart.svg" alt="" class="w-12 h-12" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-color-white border-1 col-5 dt-col-3 br-8 opacity-gray cursor-pointer mgy-10"
  >
    <div class="flex align-items-center">
      <img src="assets/img/chotot/doitac.svg" alt="" class="w-50 h-50" />
      <p class="mgx-10">Tuyển Nhân Viên Phụ Bếp</p>
    </div>
    <div class="flex">
      <img
        src="assets/img/chotot/bothealthy.jpg"
        alt=""
        class="w-80 h-80 mgx-10"
      />

      <div class="">
        <p class="fs-12">Tuyển Nhân Viên Kế...</p>
        <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
        <div class="flex content-between align-items-center">
          <p>
            <img src="assets/img/icon-position.svg" alt="" class="w-12 h-12" />
            <b class="fs-12">Tp Hồ chí minh</b>
            <img src="assets/img/icon-heart.svg" alt="" class="w-12 h-12" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-color-white border-1 col-5 dt-col-3 br-8 opacity-gray cursor-pointer mgy-10"
  >
    <div class="flex align-items-center">
      <img src="assets/img/chotot/doitac.svg" alt="" class="w-50 h-50" />
      <p class="mgx-10">Tuyển Nhân Viên Phụ Bếp</p>
    </div>
    <div class="flex">
      <img
        src="assets/img/chotot/bothealthy.jpg"
        alt=""
        class="w-80 h-80 mgx-10"
      />

      <div class="">
        <p class="fs-12">Tuyển Nhân Viên Kế...</p>
        <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
        <div class="flex content-between align-items-center">
          <p>
            <img src="assets/img/icon-position.svg" alt="" class="w-12 h-12" />
            <b class="fs-12">Tp Hồ chí minh</b>
            <img src="assets/img/icon-heart.svg" alt="" class="w-12 h-12" />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
