<div class="row flex-wrap content-between">
  <div
    class="flex col-4 dt-col-3 bg-color-white border-1 br-8 opacity-gray cursor-pointer pd-10 mgy-10"
  >
    <div class="">
      <img src="assets/img/chotot/fonix.jpg" alt="" class="w-80 h-80 mgy-10" />
    </div>
    <div class="text-left mgx-10">
      <p class="fs-12">Tuyển Nhân Viên Kế...</p>
      <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
      <div class="flex content-between align-items-center">
        <p>
          <img src="assets/img/icon-position.svg" alt="" class="w-14 h-14" />
          <b class="fs-12">Tp Hồ chí minh</b>
        </p>

        <img src="assets/img/icon-heart.svg" alt="" class="w-14 h-14" />
      </div>
    </div>
  </div>
  <div
    class="flex col-4 dt-col-3 bg-color-white border-1 br-8 opacity-gray cursor-pointer pd-10 mgy-10"
  >
    <div class="">
      <img src="assets/img/chotot/fonix.jpg" alt="" class="w-80 h-80 mgy-10" />
    </div>
    <div class="text-left mgx-10">
      <p class="fs-12">Tuyển Nhân Viên Kế...</p>
      <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
      <div class="flex content-between align-items-center">
        <p>
          <img src="assets/img/icon-position.svg" alt="" class="w-14 h-14" />
          <b class="fs-12">Tp Hồ chí minh</b>
        </p>

        <img src="assets/img/icon-heart.svg" alt="" class="w-14 h-14" />
      </div>
    </div>
  </div>
  <div
    class="flex col-4 dt-col-3 bg-color-white border-1 br-8 opacity-gray cursor-pointer pd-10 mgy-10"
  >
    <div class="">
      <img src="assets/img/chotot/fonix.jpg" alt="" class="w-80 h-80 mgy-10" />
    </div>
    <div class="text-left mgx-10">
      <p class="fs-12">Tuyển Nhân Viên Kế...</p>
      <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
      <div class="flex content-between align-items-center">
        <p>
          <img src="assets/img/icon-position.svg" alt="" class="w-14 h-14" />
          <b class="fs-12">Tp Hồ chí minh</b>
        </p>

        <img src="assets/img/icon-heart.svg" alt="" class="w-14 h-14" />
      </div>
    </div>
  </div>
  <div
    class="flex col-4 dt-col-3 bg-color-white border-1 br-8 opacity-gray cursor-pointer pd-10 mgy-10"
  >
    <div class="">
      <img src="assets/img/chotot/fonix.jpg" alt="" class="w-80 h-80 mgy-10" />
    </div>
    <div class="text-left mgx-10">
      <p class="fs-12">Tuyển Nhân Viên Kế...</p>
      <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
      <div class="flex content-between align-items-center">
        <p>
          <img src="assets/img/icon-position.svg" alt="" class="w-14 h-14" />
          <b class="fs-12">Tp Hồ chí minh</b>
        </p>

        <img src="assets/img/icon-heart.svg" alt="" class="w-14 h-14" />
      </div>
    </div>
  </div>
  <div
    class="flex col-4 dt-col-3 bg-color-white border-1 br-8 opacity-gray cursor-pointer pd-10 mgy-10"
  >
    <div class="">
      <img src="assets/img/chotot/fonix.jpg" alt="" class="w-80 h-80 mgy-10" />
    </div>
    <div class="text-left mgx-10">
      <p class="fs-12">Tuyển Nhân Viên Kế...</p>
      <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
      <div class="flex content-between align-items-center">
        <p>
          <img src="assets/img/icon-position.svg" alt="" class="w-14 h-14" />
          <b class="fs-12">Tp Hồ chí minh</b>
        </p>

        <img src="assets/img/icon-heart.svg" alt="" class="w-14 h-14" />
      </div>
    </div>
  </div>
  <div
    class="flex col-4 dt-col-3 bg-color-white border-1 br-8 opacity-gray cursor-pointer pd-10 mgy-10"
  >
    <div class="">
      <img src="assets/img/chotot/fonix.jpg" alt="" class="w-80 h-80 mgy-10" />
    </div>
    <div class="text-left mgx-10">
      <p class="fs-12">Tuyển Nhân Viên Kế...</p>
      <b class="text-red-1 fs-12">Đến 9 triệu/tháng</b>
      <div class="flex content-between align-items-center">
        <p>
          <img src="assets/img/icon-position.svg" alt="" class="w-14 h-14" />
          <b class="fs-12">Tp Hồ chí minh</b>
        </p>

        <img src="assets/img/icon-heart.svg" alt="" class="w-14 h-14" />
      </div>
    </div>
  </div>
</div>
<div class="text-center pdy-10">
  <a href="" class="align-items-center opacity-05">
    <b class="fs-16 text-blue-1"> Xem Thêm tất cả 24 ngành nghề</b>
    <img
      src="assets/img/icon-arrow-right.svg"
      alt="icon-arrow-right"
      class="w-12 h-12"
    />
  </a>
</div>
